<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Asik | Sosialisasi</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Jua&amp;display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src='{{ url_for("static", filename="index.js") }}'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">



    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* css untuk search start */
        * {
            box-sizing: border-box;
        }

        form.example input[type=text] {
            padding: 10px;
            font-size: 12px;
            border: 1px solid grey;
            float: left;
            width: 80%;
            background: #f1f1f1;
            border-radius: 20px;
            position: relative;
        }

        form.example button {
            float: left;
            width: 20%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 12px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
            border-radius: 20px;
        }

        form.example button:hover {
            background: #0b7dda;
        }

        form.example::after {
            content: "";
            clear: both;
            display: table;
        }

        /* css untuk search end */


        /* css untuk btn logout start */
        .profile {
            font-size: 12px;
            cursor: pointer;
            position: absolute;
            right: 10%;
        }

        /* css untuk btn logout end */

        .card {
            align-items: center;
            margin-right: 10px;
            margin-top: 10px;
            margin-left: 10px;
            padding: 10px;
        
        }
    </style>
    <script>
        function tambah_info(){
            let judul = $("#judul").val()
            let cover = $("#cover")[0].files[0]
            let link = $("#link").val()
            let deks = $("#deskripsi").val()
            if (!judul || !cover || !link || !deks) {
                alert("Semua kolom harus diisi. Silakan lengkapi formulir.");
            } else {
                let form_data = new FormData();
                form_data.append("judul_give", judul)
                form_data.append("cover_give", cover)
                form_data.append("link_give", link)
                form_data.append("deskripsi_give", deks)
        
                $.ajax({
                    type: 'POST',
                    url: '/add-sosialisasi',
                    data: form_data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.result === 'success') {
                            alert(response.msg)
                            window.location.reload()
                        }
                    }
                })
            }
        }
        function hapusberita(judul){
            $.ajax({
                type: 'POST',
                url: '/hapus/berita',
                data: {
                    judul_give:judul
                },
                success: function (response) {
                    if (response.result === 'success') {
                        alert(response.msg)
                        window.location.reload()
                    }
                }
            })
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/home"><img src="static/New_Logo.png" alt="" width="150" height="50"
                    class="ne-2">
                <b></b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="home">Home</a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="about">About US</a>
                    </li>
                    {% if user_info.role =='admin' %}
                    <li class="nav-item"><a class="nav-link active modal-button" onclick='$("#modal-ter").addClass("is-active")'
                        aria-hashpopup="true">Tambah Data</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">ASIK</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="aspirasi">Aspirasi</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="sosialisasi">Sosialisasi</a></li>
                            <li><a class="dropdown-item" href="komunikasi">Komunikasi</a></li>
                        </ul>
                    </li>   
                    <div class="profile dropdown text-end">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/static/{{user_info.profile_pic_real}}" alt="mdo" width="32" height="32"
                                class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="/profile">{{user_info.firstName}}</a></li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" onclick="logout()">Logout</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>

    </nav>

    <div class="modal" id="modal-ter">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Tambahkan Berita</p>
            <button class="delete" aria-label="close" onclick='$("#modal-ter").removeClass("is-active")'></button>
          </header>
          <section class="modal-card-body">
            <div class="mb-3">
              <label for="judul" class="form-label">Judul Berita</label>
              <input type="text" class="form-control" id="judul" name="judul" required>
            </div>
            <div class="mb-3">
              <label for="cover" class="form-label">Cover (File)</label>
              <input type="file" class="form-control" id="cover" name="cover" accept="image/*" required>
            </div>
            <div class="mb-3">
                <label for="judul" class="form-label">Link Berita</label>
                <input type="text" class="form-control" id="link" name="link" required>
              </div>
            <div class="mb-3">
              <label for="deskripsi" class="form-label">Deskripsi</label>
              <textarea class="form-control" id="deskripsi" name="deskripsi" rows="5" required></textarea>
            </div>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" onclick="tambah_info()">Save changes</button>
            <button class="button" onclick='$("#modal-ter").removeClass("is-active")'>Cancel</button>
            <button type="button" class="btn btn-dark">Clear</button>
          </footer>
        </div>
      </div>

    <div class="card text-center">
        <div class="justify-content-center">
            <h1 class="justify-content-center"><b>ASIK</b> Bersama Berita Terupdate!!
                <!-- <a href="#" style="padding-right: 15px !important; vertical-align: middle;"
                    class="btn btn-primary fw-bold" data-bs-toggle="modal"
                    data-bs-target="#kt_modal_create_app">Highlight <br>News</a> -->
            </h1>
            <p class="card-text text-muted">Mari bersama-sama menjelajahi berbagai topik menarik dan relevan yang memengaruhi kehidupan sehari-hari. Selamat membaca dan tetaplah terhubung dengan dunia melalui laman berita kami.</p>
        </div>
    </div>
    {% if user_info.role == 'admin' %}
    <div class="mycards mt-4">
        <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
            {% for news in berita %}
            {% set judul = news.Judul %}
            {% set cover = news.Cover %}
            {% set link = news.Link %}
            <div class="col">
                <div class="card h-100">
                    <img src="/static/{{cover}}" class="card-img-top">
                    <a href="{{link}}" target="_blank"><div class="card-body btn">
                        <h5 class="card-title">{{judul}}</h5><br>
                    </a>
                    <button class="btn btn-danger" onclick="hapusberita('{{judul}}')"><i class="fa fa-trash fa-5" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
    <div class="mycards mt-4">
        <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
            {% for news in berita %}
            {% set judul = news.Judul %}
            {% set cover = news.Cover %}
            {% set link = news.Link %}
            <div class="col">
                <div class="card h-100">
                    <img src="/static/{{cover}}" class="card-img-top">
                    <a href="{{link}}" target="_blank"><div class="card-body btn">
                        <h5 class="card-title">{{judul}}</h5><br>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
        <br>
       

        <footer class="py-5 bg-primary">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright © ASIK | Aspirasi | Sosialisasi |
                    Komunikasi</p>
            </div>
            <div class="container">
                <p class="m-0 text-center text-white">Media Sosial</p>
                <div class="container">
                    <p class="m-0 text-center text-white">
                        <a class="m-0 text-center text-white" href="https://www.instagram.com/aspirasimasyarakat2023?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr">Instagram</a>
                    </p>
                </div>
                <div class="col-sm-12 col-lg-3"></div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>

</body>

</html>